
/* CSS For page branding: */
.egg-icon{
    color: rgb(0, 146, 0) !important;
}

.brand{
    font-weight: bolder;
}

h1.brand{
    font-size: 3em;
}

.accent-color{
    color: rgb(0, 146, 0) !important;
}

.btn-success{
    background-color: rgb(0, 146, 0) !important;
    color: white;
}

/* CSS related to the landing page carousel: */
.carousel-inner{
    width:100%;
    max-height: 30vh;


}

.carousel-inner img{
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
    -webkit-transform: blur(10px); /* Safari 6.0 - 9.0 */
    transform: scale(1.03);
    
}

#outerWrap {
    margin-top: 1em;
    position: relative;
    z-index: 0;
    width: 100%; 
    max-height: 30vh;  
}


#layer1 {
    position: absolute;
    z-index: 1;
    max-height: 30vh;
    width: 100%;
    top: 0px;
    left: 0px;
}


#layer2 {
    position: absolute;
    z-index: 2;
    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 30vh;
    top: 0vh;
    left: 0px;

    box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
    -webkit-box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
    -moz-box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
}

#layer3 {
    position: absolute;
    z-index: 3;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    
    top: 0px;
    left: 0;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.landing-content{
    padding-left: 3em;
    padding-right: 3em;
}   

/* Search bar styling: */

.mr-sm-2{
    width: 500px;
}


/* Mapping Styles: */

#blogs { height: 50vh; 
}

#map { height: 50vh; 
}

.search-container {
    width: 100%;
}

.search-container {
    width: 100%;
}
  
/* The point of this tutorial is here */
.form {
    display: flex;
    flex-direction: row;
}


.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: double;
    border-radius: 100px;
    outline: auto;
}

.search-button-blog {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button-blog img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.search-results{
    padding-top: 1em;
}


.space-button{
    margin-bottom: 1em;
}


/* Login area and button styles:  */

.login-button{
    display: block;
    float: left;
    margin-right: .5em;
}

.loginfailed{
    text-align: center;
}

/* Styles related to text based icons and graphics: */
.infographics{
    text-align: center;
}

.infographics i{
    font-size: 4em;
    text-align: center;
}

.infographics .small{
    font-size: 2em;
}


.logo-image{
    height:  250px;
    margin-top: 1em;
}

.logo-align{
    display: inline-block;
    float: left;
}

.logo-align-text{
    margin-left: 2em;
}



.lean-canvas{
    margin-bottom: 2em;
}

.btn-outline-success {
    color: white;
}


.card{
    margin-bottom: 2em;
    transition: box-shadow .3s;
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }




@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .landing-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}
 
@media only screen
and (min-width : 321px) {
}
 
@media only screen
and (max-width : 320px) {
}
 
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
}

.autocomplete-container {
    /*the container must be positioned relative:*/
    position: relative;
    
    margin-bottom: 20px;
  }
  
  .autocomplete-container input {
    width: 100%;
    outline: none;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-right: 31px;
    font-size: 16px;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-top: none;
    z-index: 1001;
    /*position the autocomplete items to be the same width as the container:*/
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    
    background-color: #fff;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    z-index: 100;
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    
    position: absolute;
    right: 5px;
    top: 0;
  
    height: 100%;
    display: none;
    align-items: center;
  }
  
  .clear-button.visible {
    display: flex;
  }
  
  
  .clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
  }

#searchbar{
 margin-left: 15%;
 padding:15px;
 border-radius: 10px;
}

#searchbar-blog{
 width: 100%;
 padding:15px;
 margin-left: 15px;
 border-radius: 50px;
}

/* When the input field gets focus,
    change its width to 100% */
/*input[type=text]:focus {
 width: 70%;
}*/

#list{
font-size:  1.5em;
margin-left: 90px;
}
 
.blogs{
   display: list-item;  
   margin-top: 20px;
   margin-left: 20px;
} 

#blogtitle {
    width: 100% !important;
  -webkit-transition: auto !important;
  transition: auto !important;
}

#homepagesearchbar {
    width: 100% !important;
  -webkit-transition: auto !important;
  transition: auto !important;
}

.box {
  width: 100%;
  height: 60px;
}

img{
    width: 100%;
    height: 100%;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

/*Reference: https://www.w3schools.com/howto/howto_css_team.asp */

  /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  .container-menu {
      padding: 20px 86px;
      background-color: #e9ecef;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .card-img-top{
    width: 55px !important;
    height: 55px !important;
  }