/* CSS For page branding: */
.egg-icon{
    color: rgb(255, 185, 0) !important;
}

.brand{
    font-weight: bolder;
}

h1.brand{
    font-size: 3em;
}

.accent-color{
    color: rgb(255, 185, 0) !important;
}

.btn-success{
    background-color: rgb(255, 185, 0) !important;;
}

/* CSS related to the landing page carousel: */
.carousel-inner{
    width:100%;
    max-height: 30vh;


}

.carousel-inner img{
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
    -webkit-transform: blur(10px); /* Safari 6.0 - 9.0 */
    transform: scale(1.03);
    
}

#outerWrap {
    margin-top: 1em;
    position: relative;
    z-index: 0;
    width: 100%; 
    max-height: 30vh;  
}


#layer1 {
    position: absolute;
    z-index: 1;
    max-height: 30vh;
    width: 100%;
    top: 0px;
    left: 0px;
}


#layer2 {
    position: absolute;
    z-index: 2;
    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 30vh;
    top: 0vh;
    left: 0px;

    box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
    -webkit-box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
    -moz-box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
}

#layer3 {
    position: absolute;
    z-index: 3;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    
    top: 0px;
    left: 0;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.landing-content{
    padding: 3em;
}

/* Search bar styling: */

.mr-sm-2{
    width: 500px;
}


/* Mapping Styles: */

#map { height: 200px; 
}

.search-container {
    width: 100%;
  }
  
/* The point of this tutorial is here */
.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.search-results{
    padding-top: 1em;
}

/* The message box is shown when the user clicks on the password field */


/* Styles related to text based icons and graphics: */
.infographics{
    text-align: center;
}

.infographics i{
    font-size: 8em;
    text-align: center;
}


@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .landing-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}
 
@media only screen
and (min-width : 321px) {
}
 
@media only screen
and (max-width : 320px) {
}
 
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
}