/* CSS For page branding: */
.egg-icon{
    color: rgb(0, 146, 0) !important;
}

.brand{
    font-weight: bolder;
}

h1.brand{
    font-size: 3em;
}

.accent-color{
    color: rgb(0, 146, 0) !important;
}

.btn-success{
    background-color: rgb(0, 146, 0) !important;
    color: white;
}

/* CSS related to the landing page carousel: */
.carousel-inner{
    width:100%;
    max-height: 30vh;


}

.carousel-inner img{
    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
    -webkit-transform: blur(10px); /* Safari 6.0 - 9.0 */
    transform: scale(1.03);
    
}

#outerWrap {
    margin-top: 1em;
    position: relative;
    z-index: 0;
    width: 100%; 
    max-height: 30vh;  
}


#layer1 {
    position: absolute;
    z-index: 1;
    max-height: 30vh;
    width: 100%;
    top: 0px;
    left: 0px;
}


#layer2 {
    position: absolute;
    z-index: 2;
    background-color: rgba(255,255,255,0);
    width: 100%;
    height: 30vh;
    top: 0vh;
    left: 0px;

    box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
    -webkit-box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
    -moz-box-shadow: -1px -119px 52px -67px rgba(255,255,255,1) inset;
}

#layer3 {
    position: absolute;
    z-index: 3;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    
    top: 0px;
    left: 0;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.landing-content{
    padding-left: 3em;
    padding-right: 3em;
}   

/* Search bar styling: */

.mr-sm-2{
    width: 500px;
}


/* Mapping Styles: */

#map { height: 200px; 
}

.search-container {
    width: 100%;
  }
  
/* The point of this tutorial is here */
.form {
    display: flex;
    flex-direction: row;
}


.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.search-results{
    padding-top: 1em;
}


.space-button{
    margin-bottom: 1em;
}


/* Login area and button styles:  */

.login-button{
    display: block;
    float: left;
    margin-right: .5em;
}

.loginfailed{
    text-align: center;
}

/* Styles related to text based icons and graphics: */
.infographics{
    text-align: center;
}

.infographics i{
    font-size: 4em;
    text-align: center;
}

.infographics .small{
    font-size: 2em;
}

.grid{
    margin-left: auto  ;
    margin-right: auto  ;
}

.grid td, th{
    border-style: solid;
    border-width: 10px;
    border-color: green;

    opacity: 0.6;
    background-image:  linear-gradient(#008000 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #008000 0.7000000000000001px, #ffffff 0.7000000000000001px);
    background-size: 14px 14px;
}

.grid i{
    font-size: 4em;
}




.logo-image{
    height:  250px;
    margin-top: 1em;
}

.logo-align{
    display: inline-block;
    float: left;
}

.logo-align-text{
    margin-left: 2em;
}


.calendar * {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

/* Month header */
.month {
  background-color: rgb(170, 170, 170);
  text-align: center;

}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month h3{
    margin-bottom: 0;
}

.month ul li {
    
  color: white;
  letter-spacing: 3px;
}


/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  margin: 0;
  
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  height: 5em;
  text-align: center;
  font-size:12px;
  color: #777;


}

.days button{
    width: 100%;
}

.days li {
    background-color: rgba(238, 238, 238, 0.5);
}

.days li:nth-child(2) {
    background-color: rgba(0, 128, 0, 0.5);
}

.days li:nth-child(5) {
    background-color: rgba(0, 128, 0, 0.5);
}

.cart-item{
    margin-bottom: 1em;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.cart-item img{
    height: 150px;
    width: 150px;
}



/* Highlight the "current" day */
.days li .active {

  color: white !important
}


.lean-canvas{
    margin-bottom: 2em;
}

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    .landing-content{
        padding-left: 1em;
        padding-right: 1em;
    }
}
 
@media only screen
and (min-width : 321px) {
}
 
@media only screen
and (max-width : 320px) {
}
 
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
}